*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.game {
    background-color: var(--primary-color);
    padding: 1.5rem;
    max-width: 35.6rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
}

.header_counter {
    background-color: var(--primary-color);
    color: var(--alarm-color);
    padding: 0.5rem;
    font-family: 'DIGITALDREAM', sans-serif;
    font-size: 3.2rem;
    min-width: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}