*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.game {
    background-color: var(--primary-color);
    padding: 1.5rem;
    max-width: 35.6rem;
    margin-left: auto;
    margin-right: auto;
}