*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.game {
    background-color: var(--primary-color);
    padding: 1.5rem;
    max-width: 35.6rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
}

.header_counter {
    background-color: var(--primary-color);
    color: var(--alarm-color);
    padding: 0.5rem;
    font-family: 'DIGITALDREAM', sans-serif;
    font-size: 3.2rem;
    min-width: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_reset {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: var(--primary-color);
}

.header_button {
    width: 4.8rem;
    height: 4.8rem;
    cursor: center;
}

.panel_header {
    text-align: center;
}

.panel_buttons {
    display: flex;
}

.button {
    font: 1em;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    cursor: pointer;
    font-size: 2.4rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.;
}

.modal_content {
    width: 50vw;
    height: 50vh;
    background-color: display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal_text {
    font-size: 4.8rem;
    text-align: center;
}

.modal_button {
    cursor: pointer;
    background-color: transparent;
    color: #000;
    border: 0.3rem solid #000;
    font-size: 2.4rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in,
}

.modal_button:hover {
    background-color: #000;
    color: #fff;
}

.hide {
    visibility: hidden;
}